<link rel="stylesheet" href="misEstilos/busquedaHabitacion.css">

<h1>Pago de reserva</h1>

<h3>Se ha realizado correctamente la seleccion de las habitaciones para la reserva. 
Ahora solo se necesita realizar el pago para la confirmación definitiva de la reserva. </h3>

<form action="" method="GET">
    <br>
    <br>
</form>