<link rel="stylesheet" href="misEstilos/busquedaHabitacion.css">

<h1>Consulta de Reserva </h1>


<form action="/reservarRealizadas" method="GET">
    <div class="form-group">
                <label>Usuario (*)</label>
                <input type="email" class="form-control"  placeholder="Ingrese su id Usuario o Correo"name="correo" required>
            </div>
            <br>

            <center>

                <button type="submit" class="btn btn-success btn-lg">Continuar con la reserva </button>
            </center>
</form>
